@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form id="formUpload" enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;" method="post">
        <dl>
            <dt>
                <label for="FileUpload_FormFile">QTunnel</label>
            </dt>
            <dd>
                <input id="FileUpload_FormFile" type="file" name="files" accept=".txt, text/plain" />
            </dd>
        </dl>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
</div>

@section Scripts {
    <script type="text/javascript" src="./js/index.js"></script>
}